<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                At C Signs & Graphics, our goal is to work with you to provide the right communications solutions to meet your business challenges and help your company realize its full potential. We want to make you look great, and we have both the sign and marketing knowledge and the product expertise to help you succeed.
            </p>
            <p>
                C Signs & Graphics provides comprehensive visual marketing solutions and help companies of all sizes and across all industries attract more attention, communicate their message, sell more products, help visitors find their way and extend their branding across all of their customer touch points including vinyl, vehicle wraps, magnetic, wearables, and marketing materials. 
            </p>
            <p>
                When you work with C Signs & Graphics, you get more than just a sign; you get the benefit of smart thinking, skilled execution, and impactful signs and graphics that meet your needs.
            </p>
            <p>
                Products - We can handle all your business visibility needs — from vehicle graphics, interior décor signs and point of purchase signs to large banners, magnetic door signs,  mobile graphics, wearables — and everything in between.
            </p>
                    </div>
                    <div class="col-sm-12 col-md-6">
            <p>
                Visibility - Our marketing-savvy consultants can outline a plan that meets your business objectives and visual communications goals.
            </p>
            <p>
                C Signs & Graphics Distinction - With a convenient location, you're never far from sign solutions. Whether you want banners, building signs, vehicle graphics, or signs for your windows, walls, doors, or floors, C Signs & Graphics uses the latest sign-making systems and techniques to create high-impact signs that provide results.
            </p>
            <p>
                C Signs & Graphics People - When you trust your project to C Signs & Graphics, you'll be working with professionals who understand that your signs and graphics are the face your business presents to the world. We'll review the principles and priorities that drive your business and work with you to execute your project accurately, on time and on budget.
            </p>
            <p>
                Commercial and corporate signage, vehicle wraps to promote brand identify for local businesses. To learn more, visit csignsgraphics.com or call +1(408)643-5923 for a fast sign and personal experience.
                <br>
                We are always looking for talented, dedicated professionals to join our team.

            </p>
        </div>
    </div>
</section>